<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- //LD Mobile keys are not secret and you can expose them in your client-side code without risk.
         //see:https://docs.launchdarkly.com/sdk/client-side/dotnet#getting-started-->
    <add key="ldmobilekey_dev" value="mob-ed7616de-a821-480a-b8f7-babcfeafa708" />
    <add key="ldmobilekey_prd" value="mob-456dff9e-fb8f-4f06-a45c-2510b72bfc7c" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.Logging" publicKeyToken="d9182e4b0afd33e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>